body, html {
    background: black;
    height: 100%;
    margin: 0;
    font-family: Raleway;
}

.tablink {background-color: black; color: dimgray; cursor: pointer; border: none; outline: none; width: 30%; font-family: 'Fredoka One', cursive; font-size: 40px}

.tablink:hover {color: white}

.tabcont {color: white; display: none; height: 100%}

#devSide {background: black}
#artSide {background: #FFD05C}

header {text-align: center;}

header img {width: 200px; height: 200px}

header h1 {padding: 20px}

main {}

footer {}
